@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        @apply text-3xl font-bold mb-4;
    }
}

.theme_jeff {
    background-image: url("/static/images/jeff.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_unjeff {
    background-image: url("/static/images/unjeff.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_bg_blue {
    background-image: url("/static/images/bg_logo_blue.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_bg_grey {
    background-image: url("/static/images/bg_surv_logo_grey.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_jeff_grey {
    background-image: url("/static/images/jeff_grey.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.table_center {
    margin-left: auto;
    margin-right: auto;
}

.table_center th,
.table_center td {
    overflow-wrap: break-word;
}

.table_bordered {
    border-collapse: separate;
    border-spacing: 6px;
}

.table_bordered th,
.table_bordered td {
    border: 1px solid black;
}

.table_center th,
.table_center td {
    padding-right: 2px;
}

.team_self td {
    border: 3px solid black;
}

.survivor_list {
    table-layout: fixed;
    width: 100%;
}

.survivor_list th,
.survivor_list td {
    padding: 2px 5px;
    border: 1px solid black;
}

.survivor_card_fan_favorite {
    background: linear-gradient(35deg, transparent 0% 90%, #de0021 91%, #ff6d27 92%, #ffe243 93%, #04df21 94%, #0bdde3 95%, #0067d8 96%, #ffb8d9 97%, transparent 98% 100%),
    #67d4e9;
}

.navbar_current {
    @apply font-semibold text-lg text-white no-underline ml-1.5 pr-7 leading-6;
}

.navbar_item {
    @apply uppercase text-base text-white no-underline hover:underline ml-1.5 pr-7 leading-6;
}

.link {
    @apply underline text-link-blue hover:text-blue-800 visited:text-link-purple;
}

.body_content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #67d4e9;
}

@media screen and (1150px < width) {
    .body_content {
        width: 50%;
    }
}

@media screen and (950px <= width <= 1150px) {
    .body_content {
        width: 75%;
    }
}

@media screen and (width < 950px) {
    .body_content {
        width: 100%;
    }
}

.points_table {
    width: 100%;
}

.points_table td {
    border: 0px;
}

.points_table .points_table_left {
    width: 33%;
}

.points_table .points_table_center {
    width: 33%;
}

.points_table .points_table_right {
    width: 33%;
}

.tooltip {
    display: inline;
    border-bottom: 1px dashed #000;
    float: right;
}

.survivor_cursor {
    cursor: url("torch.png") 0 0, auto;
}

a, button, input[type='checkbox'] {
    cursor: url("torch_hover.png") 0 0, auto;
}

button, select, label {
    cursor: url("torch.png") 0 0, auto;
}

.survivor_cursor_help {
    cursor: url("torch_q.png") 0 0, auto;
}

.survivor_elim_cursor {
    cursor: url("torch_extinguished.png") 0 0, auto;
}

.survivor_elim_cursor_help {
    cursor: url("torch_q_extinguished.png") 0 0, auto;
}

.eliminated_survivor {
    color: black;
    background-color: grey;     
}

.surviving_survivor {
    color: white;
    background-color: #439BA6;
}

.winning_survivor {
    color: gold;
    background-color: purple;
    font-style: italic;
    font-weight: bold;
}

.errorlist {
    color: red;
}

button,
input[type=submit] {
    @apply bg-slate-200 hover:bg-slate-300 p-0.5 my-0.5 rounded-md drop-shadow !important; /* important necessary to overwrite Tailwind Preflight transparenting the background */
}

select {
    background-color: #67d4e9;
    padding: 2px;
    font-size: large;
    border: 2px inset lightgrey;
}

.survivor_blue {
    background-color: #67d4e9;
}

:root {
    cursor: url("torch.png") 0 0, auto;
}