.theme_jeff {
    background-image: url("/static/images/jeff.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_unjeff {
    background-image: url("/static/images/unjeff.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_bg_blue {
    background-image: url("/static/images/bg_logo_blue.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_bg_grey {
    background-image: url("/static/images/bg_surv_logo_grey.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_jeff_grey {
    background-image: url("/static/images/jeff_grey.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_selector_div {
    float: right;
}

.theme_selector {
    font-size: larger;
    background-color: #67d4e9;
}

.background_readable {
    background-color:#67d4e9;
    display: inline-block;
    padding: 5px;
}

.table_center {
    table-layout: auto;
    background-color: #67d4e9;
    margin-left: auto;
    margin-right: auto;
}

.table_bordered th,
.table_bordered td {
    border: 1px solid black;
}

.table_center th,
.table_center td {
    text-align: center;
    padding-right: 2px;
}

.team_winner {
    background-color: gold;
}

.team_loser {
    background-color: grey;
}

.team_self td {
    border: 3px solid black;
}

.survivor_list {
    table-layout: fixed;
    width: 100%;
}

.survivor_list th,
.survivor_list td {
    text-align: center;
    padding: 2px 5px;
    border: 1px solid black;
}

.survivor_portrait_big {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.survivor_card {
    background-color:#67d4e9;
    width: 100%;
    text-align: left;
    margin-left: 5px;
}

.survivor_card_fan_favorite {
    background: linear-gradient(35deg, transparent 0% 90%, #de0021 91%, #ff6d27 92%, #ffe243 93%, #04df21 94%, #0bdde3 95%, #0067d8 96%, #ffb8d9 97%, transparent 98% 100%),
    #67d4e9;
}

.survivor_card_lr {
    display: inline-block;
}

.survivor_card_h1 {
    margin: 5px;
}

.survivor_card_text_right {
    text-align: right;
}

.survivor_card_medium {
    margin-right: 5px;
}

.survivor_card_medium p {
    font-size: medium;
    margin: 3px 0px 6px 0px;
}

.survivor_card_left {
    float: left;
}

.survivor_card_right {
    float: right;
    margin: 0px 100px 0px 20px;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar_current {
    padding-left: 5px;
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 30px;
}

.navbar_item {
    padding-left: 5px;
    font-variant: small-caps;
    margin-right: 30px;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.body_content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: auto;
    margin-right: auto;
    display: table;
    text-align: center;
    background-color: #67d4e9;
    width: 50%;
}

.points_table {
    width: 100%;
}

.points_table td {
    border: 0px;
    padding: 2px;
}

.points_table .points_table_left {
    width: 33%;
}

.points_table .points_table_center {
    text-align: center;
    padding: 2px 0px;
    width: 33%;
}

.points_table .points_table_right {
    text-align: center;
    width: 33%;
}

.tooltip {
    display: inline;
    border-bottom: 1px dashed #000;
    margin-left: 90%;
}

.survivor_cursor {
    cursor: url("torch.png") 0 0, auto;
}

a {
    cursor: url("torch_hover.png") 0 0, auto;
}

.survivor_cursor_help {
    cursor: url("torch_q.png") 0 0, auto;
}

.survivor_elim_cursor {
    cursor: url("torch_extinguished.png") 0 0, auto;
}

.survivor_elim_cursor_help {
    cursor: url("torch_q_extinguished.png") 0 0, auto;
}

.eliminated_survivor {
    color: black;
    background-color: grey;     
}

.surviving_survivor {
    color: white;
    background-color: #439BA6;
}

.winning_survivor {
    color: gold;
    background-color: purple;
    font-style: italic;
    font-weight: bold;
}

.fan_favorite_form {
    padding: 5px;
}

.fan_favorite_results {
    padding: 5px;
    text-align: center;
    background-color: #67d4e9;
    margin-left: auto;
    margin-right: auto;
}

.fan_favorite_results p {
    background-color: #67d4e9;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px 0px;
}

.errorlist {
    color: red;
}

.max_width {
    width: 100%;
}

.list_style_position_inside {
    list-style-position: inside;
}

.margin_top {
    margin-top: 10px;
}

.auto_horizontal_margins {
    margin: 0 auto;
}