.theme_jeff {
    background-image: url("/static/images/jeff.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_unjeff {
    background-image: url("/static/images/unjeff.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_bg_blue {
    background-image: url("/static/images/bg_logo_blue.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_bg_grey {
    background-image: url("/static/images/bg_surv_logo_grey.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_jeff_grey {
    background-image: url("/static/images/jeff_grey.png");
    background-repeat: repeat;
    background-size: 250px 250px;
}

.theme_selector_div {
    float: right;
}

.theme_selector_label {
    font-size: larger;
    outline-style: groove;
    outline-color: #67d4e9;
}

.theme_selector {
    outline-color: #67d4e9;
    outline-style: groove;
    padding: 5px 0px 5px 15px;
    font-size: larger;
    background-color: #67d4e9;
}

.background_readable {
    background-color:#67d4e9;
    display: inline-block;
    padding: 5px;
}

.message {
    font-weight: 600;
    color: blue;
}

input[name=message] {
    width: 80%;
}

.team_list {
    table-layout: auto;
    width: 50%;
    background-color: #67d4e9;
    margin-left: auto;
    margin-right: auto;
}

.team_list th,
.team_list td {
    text-align: center;
    padding-right: 2px;
    border: 1px solid black;
}

.survivor_list {
    table-layout: fixed;
    width: 100%;
}

.survivor_list th,
.survivor_list td {
    text-align: center;
    padding: 2px 5px;
    border: 1px solid black;
}

.survivor_tribe_red {
    border: 2px solid red;
}

.survivor_tribe_blue {
    border: 2px solid blue;
}

.survivor_tribe_yellow {
    border: 2px solid yellow;
}

.survivor_portrait_big {
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.survivor_card {
    background-color:#67d4e9;
    padding: 5px;
    width: fit-content;
}

.survivor_card_lr {
    display: inline-block;
}

.survivor_card_h1 {
    margin: 5px;
}

.survivor_card_small {
    font-size: small;
    margin: 0px;
}

.survivor_card_medium p {
    font-size: medium;
    margin: 3px 0px 6px 0px;
}

.survivor_card_left {
    float: left;
}

.survivor_card_right {
    float: right;
    margin: 0px 100px 0px 20px;
}

.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar_current {
    font-size: 1.2em;
    font-weight: 600;
}

.navbar_item {
    font-variant: small-caps;
    margin-left: 30px;
}

.body_content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.points_table {
    width: 100%;
}

.points_table td {
    border: 0px;
    padding: 2px;
}

.points_table .points_table_left {
    width: 33%;
}

.points_table .points_table_center {
    text-align: center;
    padding: 2px 0px;
    width: 33%;
}

.points_table .points_table_right {
    text-align: center;
    width: 33%;
}

.tooltip {
    display: inline;
    border-bottom: 1px dashed #000;
    margin-left: 90%;
}

.eliminated_survivor {
    color: black;
    background-color: grey;     
}

.surviving_survivor {
    color: white;
    background-color: #439BA6;
}

.winning_survivor {
    color: gold;
    background-color: purple;
    font-style: italic;
    font-weight: bold;
}

.fan_favorite {
    background: rgb(180,58,140);
    background: linear-gradient(90deg, rgba(180,58,140,1) 0%, rgba(253,220,29,1) 50%, rgba(69,252,93,1) 100%);
}