{% extends "survive/layout.html" %}
{% block title %}
    Fan Favorite Vote Page
{% endblock %}
{% block navbar_ff %}<a href="{% url 'fan_favorite' %}" class="navbar_current">Fan Favorite</a>{% endblock %}
{% block back_to_home %}{% endblock %}
{% block content %}
    <h1>Fan Favorites</h1>
    {% if not season.is_season_closed %}
        {% if teams %}
            <form class="table_center fan_favorite_form table_bordered" method="POST">
                {% csrf_token %}
                <label>My team is: </label>
                <select name="team_id">
                    {% for team in teams %}
                        <option value="{{ team.id }}" {% if selected_team is team.id %}selected{% endif %}>{{team.name}} (Team Captain {{team.captain}})</option>
                    {% endfor %}
                </select>
                {{ form.as_p }}
                <button type="submit">Vote!</button>
            </form>
        {% else %}
            {% if not season.team_set.all %}
                <p class="table_center fan_favorite_form">No teams were found in this season. Can't have a vote without a team to associate it with!</p>
            {% elif request.user.is_authenticated %}
                <p class="table_center fan_favorite_form">No teams associated with your user were found in this season. Try claiming a team from this season first!</p>
            {% else %}
                <p class="table_center fan_favorite_form">No unclaimed teams were found in this season. Logged out users can only vote for teams not claimed by a user.</p>
            {% endif %}
        {% endif %}
    {% else %}
        {% with results=season.fan_favorites_display %}
            {% if results|length > 1 %}
                <div class="fan_favorite_results">
                    <p>This season closed on {{season.season_close}}. Here are the fan favorite voting results!</p>

                    <table class="table_center table_bordered max_width">
                        <thead>
                            <tr>
                                <th>Team</th>
                                <th>First</th>
                                <th>Second</th>
                                <th>Third</th>
                                {% if season.rubric.fan_favorite_negative_votes %}
                                <th>Bad</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% load static %}
                            {% get_static_prefix as STATIC_PREFIX %}
                            {% for team in season.team_set.all %}
                                <tr>
                                    <td>
                                        {{team.name}}
                                        <br />
                                        (Team Captain {{team.captain}})
                                    </td>
                                    <td>
                                        {% if team.fan_favorite_first %}
                                            <img src="{{ STATIC_PREFIX }}survive/{{season.id}}/portraits_small/{{team.fan_favorite_first.pic.name}}"
                                                {% if team.fan_favorite_first.tribe == "red" %}
                                                class="survivor_tribe_red"
                                                {% elif team.fan_favorite_first.tribe == "blue" %}
                                                class="survivor_tribe_blue"
                                                {% elif team.fan_favorite_first.tribe == "yellow" %}
                                                class="survivor_tribe_yellow"
                                                {% endif %} />
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if team.fan_favorite_second %}
                                            <img src="{{ STATIC_PREFIX }}survive/{{season.id}}/portraits_small/{{team.fan_favorite_second.pic.name}}"
                                                {% if team.fan_favorite_second.tribe == "red" %}
                                                class="survivor_tribe_red"
                                                {% elif team.fan_favorite_second.tribe == "blue" %}
                                                class="survivor_tribe_blue"
                                                {% elif team.fan_favorite_second.tribe == "yellow" %}
                                                class="survivor_tribe_yellow"
                                                {% endif %} />
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if team.fan_favorite_third %}
                                            <img src="{{ STATIC_PREFIX }}survive/{{season.id}}/portraits_small/{{team.fan_favorite_third.pic.name}}"
                                                {% if team.fan_favorite_third.tribe == "red" %}
                                                class="survivor_tribe_red"
                                                {% elif team.fan_favorite_third.tribe == "blue" %}
                                                class="survivor_tribe_blue"
                                                {% elif team.fan_favorite_third.tribe == "yellow" %}
                                                class="survivor_tribe_yellow"
                                                {% endif %} />
                                        {% endif %}
                                    </td>
                                    {% if season.rubric.fan_favorite_negative_votes %}
                                    <td>
                                        {% if team.fan_favorite_bad %}
                                            <img src="{{ STATIC_PREFIX }}survive/{{season.id}}/portraits_small/{{team.fan_favorite_bad.pic.name}}"
                                                {% if team.fan_favorite_bad.tribe == "red" %}
                                                class="survivor_tribe_red"
                                                {% elif team.fan_favorite_bad.tribe == "blue" %}
                                                class="survivor_tribe_blue"
                                                {% elif team.fan_favorite_bad.tribe == "yellow" %}
                                                class="survivor_tribe_yellow"
                                                {% endif %} />
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% for line in results %}
                        <p>{{ line }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <p>No votes were cast this season. The fan favorite was {{season.fan_favorites_no_vote}}.</p>
            {% endif %}
        {% endwith %}
    {% endif %}
{% endblock %}