{% extends "survive/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    {% if team_list %}
        <table class="team_list">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Team Captain</th>
                    <th>Teammates</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in team_list %}
                    <tr>
                        <td>{{ team.name | upper }}</td>
                        <td>{{ team.captain | upper }}</td>
                        {% if team.survivor_set.all %}
                            <td>
                                {% load static %}
                                {% get_static_prefix as STATIC_PREFIX %}
                                <table class="survivor_list">
                                    <thead>
                                        <tr>
                                            <th>Portrait</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for survivor in team.survivor_set.all %}
                                            <tr {% if survivor.winner %} class="winning_survivor" 
                                            {% elif not survivor.status %} class="eliminated_survivor"
                                            {% else %} class="surviving_survivor"
                                            {% endif %}>
                                                <td>
                                                    <img src="{{ STATIC_PREFIX }}survive/portraits_small/{{survivor.pic.name}}"
                                                    {% if survivor.tribe == "red" %}
                                                    class="survivor_tribe_red"
                                                    {% elif survivor.tribe == "blue" %}
                                                    class="survivor_tribe_blue"
                                                    {% elif survivor.tribe == "yellow" %}
                                                    class="survivor_tribe_yellow"
                                                    {% endif %} />
                                                </td>
                                                <td>
                                                    <a href="survivor/{{survivor.id}}/">
                                                        {{ survivor.name }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if survivor.winner %}
                                                        Sole Survivor
                                                    {% elif survivor.status %}
                                                        Surviving
                                                    {% else %}
                                                        Eliminated
                                                    {% endif %}
                                                </td>
                                                <td title="{{survivor.points.1}}">
                                                    <table class="points_table">
                                                        <tr>
                                                            <td class="points_table_left"></td>
                                                            <td class="points_table_center">{{ survivor.points.0 }} </td>
                                                            <td class="points_table_right"><p class="tooltip">?</p></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td>{{ team.points }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}