{% extends "survive/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block navbar_home %}<a href="{% url 'home' %}" class="navbar_current">Home</a>{% endblock %}
{% block back_to_home %}{% endblock %}
{% block content %}
    <h1>Season Overview</h1>
    {% if season %}
        <table class="table_center table_bordered">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Team Captain</th>
                    <th>Teammates</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                {% for team in season.team_set.all %}
                    <tr {% if team.winner %}class="team_winner"{% elif team.lost %}class="team_loser"{% endif %}>
                        <td>{{ team.name }}</td>
                        <td>{{ team.captain }}</td>
                        {% if team.survivor_set.all %}
                            <td>
                                {% load static %}
                                {% get_static_prefix as STATIC_PREFIX %}
                                <table class="survivor_list table_bordered">
                                    <thead>
                                        <tr>
                                            <th>Portrait</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>
                                                Idols / <br />
                                                Immunities / <br />
                                                Confessionals
                                            </th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for survivor in team.survivor_set.all %}
                                            <tr {% if survivor.winner %} class="winning_survivor 
                                            {% elif not survivor.status %} class="eliminated_survivor
                                            {% else %} class="surviving_survivor
                                            {% endif %} {% if survivor.status %} survivor_cursor {% else %} survivor_elim_cursor {% endif %}
                                            {% if survivor.fan_favorite %} survivor_card_fan_favorite {% endif %}">
                                                <td>
                                                    <img src="{{ STATIC_PREFIX }}survive/{{season.id}}/portraits_small/{{survivor.pic.name}}"
                                                    {% if survivor.tribe == "red" %}
                                                    class="survivor_tribe_red"
                                                    {% elif survivor.tribe == "blue" %}
                                                    class="survivor_tribe_blue"
                                                    {% elif survivor.tribe == "yellow" %}
                                                    class="survivor_tribe_yellow"
                                                    {% endif %} />
                                                </td>
                                                <td>
                                                    <a href="survivor/{{survivor.id}}/">
                                                        {{ survivor.name }}
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if survivor.winner %}
                                                        Sole Survivor
                                                    {% elif survivor.status %}
                                                        Surviving
                                                    {% else %}
                                                        Eliminated
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {{ survivor.idols }} / {{ survivor.immunities }} / {{ survivor.confessionals }}
                                                </td>
                                                <td class={% if survivor.status %}"survivor_cursor_help"{% else %}"survivor_elim_cursor_help"{% endif %} title="{{survivor.points.1}}">
                                                    <table class="points_table">
                                                        <tr>
                                                            <td class="points_table_left"></td>
                                                            <td class="points_table_center">{{ survivor.points.0 }} </td>
                                                            <td class="points_table_right"><p class="tooltip">?</p></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </td>
                            <td>{{ team.points }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}