<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'survive/tailwind_output.css' %}"/>
    </head>

    <body class="theme_jeff">
        <script src="{% static 'survive/site.js' %}"></script>
        {% block navbar %}
            <table class="w-full py-2 px-1.5 text-white font-sans bg-slate-500">
                <tr>
                    <td class="float-left">
                        {% block navbar_home %}<a href="{% url 'home' %}" class="navbar_item">Home</a>{% endblock %}
                    </td>
                    <td class="float-left">
                        {% block navbar_ff %}<a href="{% url 'fan_favorite' %}" class="navbar_item">Fan Favorite</a>{% endblock %}
                    </td>
                    <td class="float-left">
                        {% block navbar_predictions %}<a href="{% url 'predictions' %}" class="navbar_item">Predictions</a>{% endblock %}
                    </td>
                    <td class="float-left">
                        {% block navbar_rubric %}<a href="{% url 'rubric' %}" class="navbar_item">Rubrics</a>{% endblock %}
                    </td>
                    <td class="float-right">
                        {% block navbar_login %}
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'logout' %}" class="navbar_item">Logout</a>
                            {% else %}
                                <a href="{% url 'login' %}" class="navbar_item">Login</a>
                            {% endif %}
                        {% endblock %}
                    </td>
                    <td class="float-right">
                        {% block navbar_profile %}<a href="{% url 'profile' %}" class="navbar_item">
                            {% if request.user.is_authenticated %}{{ user.username }}{% else %}Profile{% endif %}
                        </a>{% endblock %}
                    </td>
                </tr>
            </table>
            <div class="float-right background_readable">
                <label>Theme:</label>
                <select id="theme_selector" onchange="themeChange(this.value, set_cookie=true)" class="text-lg bg-survivor-blue">
                    <option value="jeff">Original Jeff Theme</option>
                    <option value="unjeff">Jeffless Void</option>
                    <option value="jeff_grey">Jeff but Grey</option>
                    <option value="bg_blue">Survivor Blue</option>
                    <option value="bg_grey">Survivor Grey</option>    
                </select>
            </div>
        {% endblock %}
        {% block back_to_home %}
            <button class="background_readable">
                <a class="link" href="{% url 'home' %}">Back</a>
            </button>
            <br />
        {% endblock %}
        {% block season_selector %}
            <form class="float-left background_readable">
                <label class="background_readable">Season:</label>
                <select class="text-lg bg-survivor-blue" name="season_id" onchange="this.form.submit()">
                    {% for s in seasons %}
                        <option value="{{ s.id }}" {% if season.id is s.id %}selected{% endif %}>{{s.name}}</option>
                    {% endfor %}
                </select>
            </form>
        {% endblock %}
        <div class="body_content">
            {% block _page_title %}<h1>{% block page_title %}{% endblock %}</h1>{% endblock %}
            {% block content %}{% endblock %}
            <hr class="w-full"/>
            <footer>
                <p>Mt Wlsn 2024</p>
            </footer>
        </div>
    </body>
</html>