{% extends "survive/layout.html" %}
{% block title %}
    Password Reset
{% endblock %}
{% block season_selector %}{% endblock %}
{% block page_title %}Password Reset{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p>
                {% if form.errors.items|length > 1 %}Please correct the errors below.{% else %}Please correct the error below.{% endif %}
            </p>
        {% endif %}
                
        <fieldset class="border border-solid border-gray-300">   
            <div>
                {{ form.email.errors }}
                <div>{{ form.email.label_tag }} {{ form.email }}</div>
                {% if form.email.help_text %}
                <div {% if form.email.id_for_label %} id="{{ form.email.id_for_label }}_helptext"{% endif %}>{{ form.email.help_text|safe }}</div>
                {% endif %}
            </div>
        </fieldset>
        
        <div>
            <input type="submit" value="Reset My Password">
        </div>
    </form>
{% endblock %}