{% extends "survive/layout.html" %}
{% block title %}
    Password Change
{% endblock %}
{% block season_selector %}{% endblock %}
{% block page_title %}Password Change{% endblock %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p>
                {% if form.errors.items|length > 1 %}Please correct the errors below.{% else %}Please correct the error below.{% endif %}
            </p>
        {% endif %}
                
        <fieldset class="border border-solid border-gray-300">
            <div>
                {{ form.old_password.errors }}
                <div>{{ form.old_password.label_tag }} {{ form.old_password }}</div>
            </div>
        
            <div>
                {{ form.new_password1.errors }}
                <div>{{ form.new_password1.label_tag }} {{ form.new_password1 }}</div>
                {% if form.new_password1.help_text %}
                <div {% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
                {% endif %}
            </div>
            
            <div>
                {{ form.new_password2.errors }}
                <div>{{ form.new_password2.label_tag }} {{ form.new_password2 }}</div>
                {% if form.new_password2.help_text %}
                <div {% if form.new_password2.id_for_label %} id="{{ form.new_password2.id_for_label }}_helptext"{% endif %}>{{ form.new_password2.help_text|safe }}</div>
                {% endif %}
            </div>
        </fieldset>
        
        <div>
            <input type="submit" value="Change My Password">
        </div>
    </form>
{% endblock %}