{% extends "survive/layout.html" %}
{% block title %}
    Profile
{% endblock %}
{% block navbar_profile %}<a href="{% url 'profile' %}" class="navbar_current">
    {% if request.user.is_authenticated %}{{ user.username }}{% else %}Profile{% endif %}
</a>{% endblock %}{% block back_to_home %}{% endblock %}
{% block season_selector %}{% endblock %}
{% block content %}
    <h1>Profile</h1>
    {% if request.user.is_authenticated %}
        {% if edit %}
            <form method="POST">
            {% csrf_token %}
        {% else %}
            <form method="GET" class="margin_top">
        {% endif %}
            <table class="table_center table_bordered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead> 
                    <tr>
                        {% if edit %}
                                <td>
                                    {{ form.username }}
                                    {{ form.username.errors }}
                                </td>
                                <td>{{ form.first_name }}</td>
                                <td>{{ form.last_name }}</td>
                                <td>
                                    {{ form.email }}
                                    {{ form.email.errors }}
                                </td>
                        {% else %}
                            <td>{{ request.user.username }}</td>
                            <td>{{ request.user.first_name }}</td>
                            <td>{{ request.user.last_name }}</td>
                            <td>{{ request.user.email }}</td>
                        {% endif %}
                    </tr>
            </table>
            {% if edit %}
                <button type="submit">Save profile &#128190</button>
                <input type="hidden" name="edit" value="False"/>
            {% else  %}
                <button type="submit">Edit profile &#9998</button>
                <input type="hidden" name="edit" value="True"/>
            {% endif %}
        </form>
        {% if edit %}
            <button>
                <a href="./">Cancel</a>
            </button>
        {% endif %}
        {% with teams=request.user.team_set.all %}
            {% if teams %}
                <h2>Associated Teams</h2>
                <table class="table_center table_bordered">
                    <tr>
                        <th>Team Name</th>
                        <th>Captain Name</th>
                        <th>Season</th>
                        <th>Edit</th>
                        <th>Release Team</th>
                    </tr>
                    {% for team in teams %}
                        {% if edit_team_id == team.id %}
                            <form method="POST">
                                {% csrf_token %}
                        {% endif %}
                        <tr>
                            {% if edit_team_id == team.id %}
                                <td>
                                    {{ edit_team_form.name }}
                                    {{ edit_team_form.name.errors }}
                                </td>
                                <td>{{ edit_team_form.captain }}</td>
                            {% else %}
                                <td>{{team.name}}</td>
                                <td>{{team.captain}}</td>
                            {% endif %}
                            <td>{{team.season.name}}</td>
                            <td>
                                {% if edit_team_id == team.id %}
                                    <button type="submit">Save &#128190</button>
                                    <input type="hidden" name="edit_team_id" value="{{ team.id }}" />
                                {% else %}
                                    <form method="GET">
                                        <button type="submit">Edit &#9998</button>
                                        <input type="hidden" name="edit_team_id" value="{{ team.id }}" />
                                    </form>
                                {% endif %}
                            </td>
                            <td>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button type="submit">Release</button>
                                    <input type="hidden" name="team_id" value="{{ team.id }}" />
                                </form>
                            </td>
                        </tr>
                        {% if edit_team_id == team.id %}
                            </form>
                        {% endif %}
                    {% endfor %}
                </table>
            {% endif %}
        {% endwith %}
        <br /><br />
        <a href="{% url 'password_change' %}">Change Password</a>
    {% else %}
        No profile for an inauthenticated user.
    {% endif %}
{% endblock %}