{% extends "survive/layout.html" %}
{% block title %}
    Survivor Overview
{% endblock %}
{% block season_selector %}{% endblock %}
{% block _page_title %}{% endblock %}
{% block content %}
    {% load model_extras %}
    {% if survivor %}
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <div class="w-full text-left ml-1 {% if survivor.fan_favorite %}survivor_card_fan_favorite {% endif %}{% if survivor.status %}survivor_cursor{% else %}survivor_elim_cursor{% endif %}">
            <h1>{{survivor.name}}</h1>

            <table class="w-full">
                <tr>
                    <td class="w-[312px] h-auto">
                        {% if survivor.pic.name %}
                            <img src="{{ STATIC_PREFIX }}survive/portraits_big/{{survivor.pic_full.name}}"
                        {% else %}
                            <img src="{{ STATIC_PREFIX }}survive/silhouette_large.webp"
                        {% endif %}
                        {% if survivor.tribe != None %}
                            style="border: 2px solid {{ survivor.tribe.color }};" 
                        {% endif %} class="float-left mr-2" />
                    </td>
                    <td class="align-top">
                        <div class="mx-2">
                            <p>Overall Placement: {{survivor.placement_calq}}</p>
                            {% survivor_points survivor season as points %}
                            <p>Points Total: {{points.0}}</p>
                            <p>Status:
                            {% if survivor.winner %}
                            Sole Survivor
                            {% elif survivor.status %}
                            Surviving
                            {% else %}
                            Eliminated
                            {% endif %}</p>
                            <p>Immunities: {{survivor.immunities}}</p>
                            <p>Idols: {{survivor.idols}}</p>
                            <p>Confessionals: {{survivor.confessionals}}</p>
                            <p>Team: {{team.name}}</p>
                            <p>Team Captain: {{team.captain}}</p>
                            {% if survivor.tribe != None %}
                                <p>Tribe: <span style="color: {{survivor.tribe.color}}">{{survivor.tribe.name}}</span></p>
                            {% endif %}
                            <p>Jury Number: {% if survivor.status %}
                                {{season.jury_number}}
                            {% else %}
                                {{survivor.jury_number}}
                            {% endif %}
                            </p>
                        </div>
                    </td>
                    <td class="text-right align-bottom">
                        <p class="text-right mr-2">Season: {{season.name}}</p>
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
{% endblock %}