{% extends "survive/layout.html" %}
{% block title %}
    Survivor Overview
{% endblock %}
{% block season_selector %}{% endblock %}
{% block content %}
    {% if survivor %}
        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <div class="survivor_card {% if survivor.fan_favorite %}survivor_card_fan_favorite {% endif %}{% if survivor.status %}survivor_cursor{% else %}survivor_elim_cursor{% endif %}">
            <h1 class="survivor_card_h1">{{survivor.name}}</h1>
            <div class="survivor_card_lr">
                <div class="survivor_card_left">
                    {% if survivor.pic.name %}
                        <img src="{{ STATIC_PREFIX }}survive/{{survivor.season.id}}/portraits_big/{{survivor.pic_full.name}}"
                    {% else %}
                        <img src="{{ STATIC_PREFIX }}survive/silhouette_large.webp"
                    {% endif %}
                    {% if survivor.tribe != None %}
                        style="border: 2px solid {{ survivor.tribe.color }};"
                    {% else %}
                        class="survivor_portrait_big"
                    {% endif %} />
                </div>
                <div class="survivor_card_right survivor_card_medium">
                    <p>Team: {{survivor.team.name}}</p>
                    <p>Team Captain: {{survivor.team.captain}}</p>
                    {% if survivor.tribe != None %}
                        <p>Tribe: <span style="color: {{survivor.tribe.color}}">{{survivor.tribe.name}}</span></p>
                    {% endif %}
                </div>
            </div>
            <div class="survivor_card_medium">
                <p>{% if survivor.placement == 0 %}
                    Overall Placement: {{survivor.season.placement}}
                {% else %}
                    Overall Placement: {{survivor.placement}}
                {% endif %}</p>
                <p>Points Total: {{survivor.points.0}}</p>
                <p>Status:
                {% if survivor.winner %}
                Sole Survivor
                {% elif survivor.status %}
                Surviving
                {% else %}
                Eliminated
                {% endif %}</p>
                <p>Immunities: {{survivor.immunities}}</p>
                <p>Idols: {{survivor.idols}}</p>
                <p>Confessionals: {{survivor.confessionals}}</p>
                <div>
                    <p class="survivor_card_left">Jury Number: {% if survivor.status %}
                        {{survivor.season.jury_number}}
                    {% else %}
                        {{survivor.jury_number}}
                    {% endif %}
                    </p>
                    <p class="survivor_card_text_right">Season: {{survivor.season.name}}</p>
                </div>
            </div>
            
        </div>
    {% endif %}
{% endblock %}